# Production stack
STACK_NAME=iot-prod

TZ=Asia/Shanghai

POSTGRES_BIND_IP=0.0.0.0
POSTGRES_PORT=5432
POSTGRES_DB=iot
POSTGRES_USER=iot
POSTGRES_PASSWORD=change_me_prod
POSTGREST_DB_USER=iot_postgrest_authenticator
POSTGREST_DB_PASSWORD=change_me_prod
EMQX_TS_DB_USER=iot_ingest_executor
EMQX_TS_DB_PASSWORD=change_me_prod
GRAFANA_DB_USER=iot_grafana
GRAFANA_DB_PASSWORD=change_me_prod
GRAFANA_DB_ADMIN_USER=iot_grafana
GRAFANA_DB_ADMIN_PASSWORD=change_me_prod
GRAFANA_DB_RO_USER=iot_grafana_ro
GRAFANA_DB_RO_PASSWORD=change_me_prod
PG_SSL_ENABLE=true
PG_SSL_VERIFY=verify_none

EMQX_DASHBOARD_USER=admin
EMQX_DASHBOARD_PASSWORD=change_me_prod
EMQX_ALLOW_ANONYMOUS=false
EMQX_MQTT_USERNAME=device_user
EMQX_MQTT_PASSWORD=change_me_prod

EMQX_MQTT_BIND_IP=0.0.0.0
EMQX_MQTT_PORT=8883
EMQX_DASHBOARD_HTTP_BIND_IP=127.0.0.1
EMQX_DASHBOARD_HTTP_PORT=18083
EMQX_DASHBOARD_HTTPS_BIND_IP=0.0.0.0
EMQX_DASHBOARD_HTTPS_PORT=18084
EMQX_API_BASE=http://127.0.0.1:18083/api/v5

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_prod
GRAFANA_DASHBOARD_FOLDER=IoT
GRAFANA_VIEWER_FOLDER_NAME=IoT
GRAFANA_ADMIN_FOLDER_NAME=IoT-Admin
GRAFANA_TEAM_ADMIN_NAME=iot-admin
GRAFANA_TEAM_VIEWER_NAME=iot-viewer
GRAFANA_VIEWER_USER=viewer
GRAFANA_VIEWER_PASSWORD=change_me_viewer_prod
GRAFANA_BIND_IP=0.0.0.0
GRAFANA_PORT=443

POSTGREST_BIND_IP=127.0.0.1
POSTGREST_PORT=3001
POSTGREST_ADMIN_TOKEN=change_me_prod

TLS_DOMAIN=water.blenet.top
TLS_CERT_EMAIL=
