# Test stack
STACK_NAME=iot-test

TZ=Asia/Shanghai

POSTGRES_BIND_IP=127.0.0.1
POSTGRES_PORT=15432
POSTGRES_DB=iot_test
POSTGRES_USER=iot
POSTGRES_PASSWORD=change_me_test
POSTGREST_DB_USER=iot_postgrest_authenticator
POSTGREST_DB_PASSWORD=change_me_test
EMQX_TS_DB_USER=iot_ingest_executor
EMQX_TS_DB_PASSWORD=change_me_test
GRAFANA_DB_USER=iot_grafana_test
GRAFANA_DB_PASSWORD=change_me_test
GRAFANA_DB_ADMIN_USER=iot_grafana_test
GRAFANA_DB_ADMIN_PASSWORD=change_me_test
GRAFANA_DB_RO_USER=iot_grafana_test_ro
GRAFANA_DB_RO_PASSWORD=change_me_test
PG_SSL_ENABLE=true
PG_SSL_VERIFY=verify_none

EMQX_DASHBOARD_USER=admin
EMQX_DASHBOARD_PASSWORD=change_me_test
EMQX_ALLOW_ANONYMOUS=false
EMQX_MQTT_USERNAME=device_user_test
EMQX_MQTT_PASSWORD=change_me_test

EMQX_MQTT_BIND_IP=127.0.0.1
EMQX_MQTT_TCP_PORT=11883
EMQX_MQTT_PORT=18883
EMQX_DASHBOARD_HTTP_BIND_IP=127.0.0.1
EMQX_DASHBOARD_HTTP_PORT=28083
EMQX_DASHBOARD_HTTPS_BIND_IP=127.0.0.1
EMQX_DASHBOARD_HTTPS_PORT=28084
EMQX_API_BASE=http://127.0.0.1:28083/api/v5

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_test
GRAFANA_DASHBOARD_FOLDER=IoT
GRAFANA_VIEWER_FOLDER_NAME=IoT
GRAFANA_ADMIN_FOLDER_NAME=IoT-Admin
GRAFANA_TEAM_ADMIN_NAME=iot-admin
GRAFANA_TEAM_VIEWER_NAME=iot-viewer
GRAFANA_VIEWER_USER=viewer_test
GRAFANA_VIEWER_PASSWORD=change_me_viewer_test
GRAFANA_BIND_IP=127.0.0.1
GRAFANA_PORT=2443

POSTGREST_BIND_IP=127.0.0.1
POSTGREST_PORT=23001
POSTGREST_ADMIN_TOKEN=change_me_test

TLS_DOMAIN=test.water.blenet.top
TLS_CERT_EMAIL=
